body {
  background-image: url(./Imagenes/rym\ swag.jpg);
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card{
  width: 300px;
  height: 590px;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
}

.container .card .content{
  padding: 30px;
}

.navbar {
  background: rgba(24, 22, 22, 0.1);
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.boton {
  background-color: #d76be6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #03ecd9;
}

.miLink {
  font-family: Arial, sans-serif; 
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.redondeado {
  border-radius: 50px;
  font-size: 25px;
}

.closeButton {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
  backdrop-filter: blur(15px);
}

.closeButton:hover {
  background-color: #e394ee;
}