.contdetail {
    display: flex;
    align-items: center;
  }
  
  .text {
    text-align: right;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .img {
    flex: 1;
    max-width: 100px; /* Puedes ajustar el ancho de la imagen según tus necesidades */
    margin-left: 16px;
  }