
.loginContainer {
    background-color: rgba(192, 192, 192, 0.308);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    align-items: center; 
  }
  .btLogin,.btNav {
    width: 150px; 
    height: 40px;
    background-color: #00e6f6;
    border: none;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px auto 0;
    border-radius: 25px;
    cursor: pointer;
  }
  .btLogin:hover {
    background-color: #02ff0a;
  }

  input {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #f9f9f9;
  }
  label {
    display: block;
    margin-bottom: 15px;
    text-align: left;
  }
